{% extends "userbase.html" %}
{% load url from future %}

{% block content %}
<div class="container" style="padding-top:30px;padding-bottom:30px">

<form method="post" action="{% url 'password_reset_change' uidb36 token %}">
<div class="row">
	<div class="span3 columns">
		{{ form.new_password1.label_tag }} 
	</div>
	<div class="span8 columns">
		{{ form.new_password1 }} {% if form.errors.new_password1 %}{{ form.errors.new_password1 }}{% endif %}
	</div>
</div>
<div class="row">
	<div class="span3 columns">
		{{ form.new_password2.label_tag }}
	</div>
	<div class="span8 columns">
		{{ form.new_password2 }} {% if form.errors.new_password2 %}{{ form.errors.new_password2 }}{% endif %}
	</div>
</div>

<input style="margin-left:10px;margin-top:20px" type="submit" class="btn primary" value="Change" />
</form>

</div>
{% endblock %}
