{% extends "userbase.html" %}
{% load url from future %}

{% block content %}
<div class="container" style="padding-top:30px;padding-bottom:30px">

<form method="post" action="{% url 'password_reset' %}">
<div class="row">
	<div class="span3 columns" style="margin-bottom:10px">
		{{ form.email.label_tag }}
	</div>
	<div class="span8 columns">
		{{ form.email }} {% if form.errors.email %}{{ form.errors.email }}{% endif %}
	</div>
</div>

<input style="margin-left:10px;margin-top:20px" type="submit" class="btn primary" value="Change" />
</form>

</div>
{% endblock %}
